
body {
    background-image: url(images/blueberries.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


h1 {
    font-family: 'Knewave', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-family: 'Knewave', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 0px;
}

.established {
    font-style: italic;
    font-family: Chewy, Arial, Helvetica, sans-serif;
}

hr {
    height: 2px;
    background-color: red;
    border-color: red;
}

h1, h2, p {
    text-align: center;
}

.menu {
    background-color: #006994 ;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 60px;
    opacity: 90%;
}

.item p {
    display: inline;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 30px;
    font-family: Chewy, cursive, Arial, Helvetica, sans-serif;

}

.item {
    display: flex; /* or display: inline-flex; */
    justify-content: space-between; /* This will push .flavor to the left and .price to the right */
    align-items: center; /* Align vertically in case of differing heights */
}

.contact-us {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}


#address {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 0;
}
.icons {
    font-size: 25px;
    display: flex;
    gap: 40px;
    justify-content: center;
    color: red;
}

a {
    color: white;
}

.icons :hover {
    color: orange;
}

